<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block titlePage %}{% endblock %}
   
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name = "viewport" content = "user-scalable=no, width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">    
    <meta content="{{ base_path() }}/dist/images/background_raw3a2.jpg" property="og:image">
    <!--Favicon -->
	<link rel="icon" type="image/png" href="{{ base_path() }}/dist/images/RAW3Am_200x141.png" />
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{{ base_path() }}/dist/images/RAW3A-apple-touch-icon.png"/>

    {% block topScriptAndCss %}{% endblock %}


</head>

<!-- BODY START -->
<body>
  {% block homeContent %}{% endblock %}

  {% block page1Content %}{% endblock %}


    {% block bottomScriptAndCss %}{% endblock %}
   </body>
</html>
