{% extends './templates/index.html' %}



{% block homeContent %}
 <div style="    flex: 1 0 auto;
 height: 50vh;
 display: flex;
 align-items: center;
 /* margin-top: -1%; */text-align: center;color: #636363;">

<div class="message" style="padding: 0px 8px 0px 8px;width: 100%;">
    <a tabindex="-1" id="mainContent"></a>
    <h1 style="FONT-SIZE: 5rem;">أسف</h1>
    <h1 style="font-size: 26px;
    line-height: 46px;
    font-weight: bold;
    margin: .67em 0 .1em;
    word-wrap: break-word;
    letter-spacing: 0.5px;">404</h1>
    
    <p style="font-size: 15px;
    letter-spacing: 0.2px;">
      <a href="/">Home</a>
       </p>
</div>
</div>




{% endblock %}












